.message {
  border: 1px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background-color: #d5f8c4;
  border-color: #62e65d;
}

.message-alert {
  background-color: #ffd2d2;
  border-color: #d00000;
}
