body {
  color: #660708;
  font-family: "Lato", sans-serif;
}

a {
  color: #A4161A;
}

button {
  color: #232A2F;
}

.title-lg {
  font-size: 175%;
}

.title-md,
.title {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-grey {
  color: #a0a0a0;
}

.text-light-grey {
  color: #c0c0c0;
}

.text-red {
  color: #ff0000;
}

.text-dark-blue {
  color: #060f99;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
